/*--------------------ENTER FIELDS--------------------*/

:root{
    --fs-xl: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
}

@media (min-width: 60em) {
    :root{
        --fs-xl: 2.3rem;
        --fs-600: 2.2rem;
        --fs-500: 1.5rem;
    }
    
}

/* 
.titlelist{
    width: 90%;
    max-width: 1200px;
    min-height: 100px;
    background: white;
    
    

    margin: auto;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479) inset;
    box-sizing: border-box;
    


    display: flex;
    justify-content: center;
    align-items: center;
}

.titleText
{
    font-weight: 550;
    color: black;
    font-size: var(--fs-600);
}








.explanation-container{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
}


.explanation {

    box-shadow: 3px 3px 7px rgb(0, 0, 0) inset;
    margin: auto;
    padding: 12px;


    background: linear-gradient(90deg, rgb(255, 1, 221) 24%, rgb(255, 3, 66) 35%, rgb(255, 0, 200) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    display: flex;
	justify-content: center;
	align-items: center;

	font-size: var(--fs-xl);
    font-weight: 600;

    text-align: center;

}






.generate-container{
    display: flex;

}



.generate{
    margin:auto;
    text-align: center;
    background: #e32e01;
    padding: .75em 1.25em;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
}

 */








 * {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden;*/
  }

  .container-wrap {
    border: 1px solid transparent;
    max-width: 1250px;
    margin: auto;
    min-height: 50rem;
    display: inline;
  }
  .header {
    margin: 35px 0 60px 0px;
    /*text-align: left;
      
      margin-left: 5%;*/
  }
  
  .main-section {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    /*border: 1px solid green;*/
  }






  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


/*=======
*Dropdown niche
========*/

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff2323;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25vw;
    font-weight: 700;
    white-space: nowrap;
    user-select: none;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .selectColor-container {

    width: 150px;
    margin:auto;
    margin-top: 5.5rem;
  }


  .selectColor{
    position: relative;
    padding: 10px;
    border: none;
    border-right: 10px solid #fff;
    outline: none;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
    
    margin-top: 5.5rem;
    background-color:#f1acff;
  }


  @media screen and (max-width: 920px) {
    .selectColor-container{
      margin-top: 0;
    }

    .selectColor{
      margin-top: 2.5rem;
    }
  }

  




  .land-img {
    /*border: 1px solid red;*/
    /*responsive*/
    max-width: 99%;
    height: auto;
    /* */
    /*centerized*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .land-img > img {
    max-width: 100%;
    /*this is the only way to make image responsive inside the flexbox*/
    margin: auto;
    display: block;
  }

  
  .idea {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2;
    box-shadow: 3px 3px 7px rgb(0, 0, 0) inset;
    padding: 1.2rem;
    background-color: #00000073;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;
  }



  @media screen and (max-width: 920px) {
    .idea {
      font-size: 15px;
    }
  }












  .desc {
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.3;
    box-shadow: 3px 3px 7px rgb(0, 0, 0) inset;
    padding: 2rem;
    background-color: #00000073;
    min-width: 80rem;
  }

  .generate-button-div {
    width: 220px;
    margin: auto;
  }
  .generate-button {
    font-size: 20px;
    padding: 9px 13px;
    background-color: white;
    width: 220px;
    border-radius: 30px;
    color: #674baf;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 8px 17px -8px black;
    cursor: pointer;
    border: 3px solid white;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  .generate-button:hover {
    color: white;
    background: rgba(103, 75, 175, 0.9);
  }

  .social-icons > i {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .cont-footer {
    margin: 0px;
    padding: 2rem 4rem;
    text-align: center;
  }
  .cont-footer p {
    color: hsl(0, 0%, 100%);
    display: block;
  }
  .cont-footer a {
    color: hsl(312, 79%, 62%);
  }
  .cont-footer a:hover {
    color: hsl(277, 64%, 31%);
  }
  
  /*@media screen and (max-width: 1439px) {
    
  }*/
  @media screen and (max-width: 1146px) {
    .land-info {
      width: 49%;
      margin: 20px 0 0 20px;
    }
    .title {
      font-size: clamp(1.4rem, 2.8vw, 2.8rem);
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 920px) {
    .land-info {
      width: 80%;
      margin: 10px 0 0 5px;
    }
  }
  
  @media screen and (max-width: 765px) {
    .main-section {
      flex-direction: column;
    }
    .land-info {
      width: 85%;
      text-align: center;
      margin: 20px auto;
    }
    .generate-button {
      width: 200px;
      padding: 2px;
      margin-top: 4rem;
    }
    .social-icons {
      justify-content: center;
      margin-top: 50px;
    }
  }
  