
.title-and-ideas-container{
    display: flex;
    
}

@media (max-width: 1000px) {
	.title-and-ideas-container{
	  flex-direction: column;
	}

}


.container-title-and-subtitle{
  margin-left: 10%;
}




.title {
    color: var(--text-color);
    font-size: 5.3rem;
    font-family: sans-serif;
    text-align: left;
    margin-top: 10rem;
    
    font-weight: bold;
}

@media (max-width: 1000px) {
	.title{
    margin-top: 12vw;
	  font-size: 10vw;
	}
}

.title span {
    display: block;
}

.subtitle {
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 200;
    text-align: left;
    margin-top: 1.4rem;
    width: 30vw;
}

@media (max-width: 1000px) {
	.subtitle{
    width: 80vw;
	}
}





/*=============
Daily free
===============*/



.container-daily-free{
  margin-top: 15rem;
  margin-left: 10vw;
  display: block;
    
}


@media (max-width: 1000px) {
	.container-daily-free{
  margin: auto;
  margin-top: 5rem;
	}

}






.h3-daily-free{

    padding-left: 1.1rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 200;
    color: black;
}

@media (max-width: 1000px) {
	.h3-daily-free{
    font-size: 1.3rem;
	}

}











.img-daily-free {
    
    max-width: 55rem;
    content:url("../images/thumb1.jpg");
}


/* 
.arrow {
    cursor: pointer;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 80px;
    background-color: #425460;
  }
  .arrow-top, .arrow-bottom {
    background-color: rgb(0, 4, 255);
    height: 4px;
    left: -5px;
    top: 50%;
    width: 100%;
  }
  .arrow-top:after, .arrow-bottom:after {
    background-color: rgb(255, 0, 0);
    content: "";
    height: 100%;
    top: 0;
    transition: all 0.15s;
  }
  .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  .arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }
  .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  .arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
  }
  .arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
  }
  .arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
  }
  .arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  } */


/*=====
Buttons
======*/

/* 
.container-buttons{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
	.container-buttons {
		margin-top: 2rem;
	}

}


.start-now{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5rem;
    border-color: #ee06bc;
    padding: .5rem 1.7rem;
    font-size: 1rem;
}

.start-now:hover{
    background-color: #39527e;
    border-color: #39527e;
}

.contact{
    color: #0a2553;
    background-color: white;
    border-radius: 10px 10px 0 0;
    border-color: white;
    margin-left: 5rem;
    padding: .2rem .7rem;
}

@media (max-width: 1000px) {
	.contact {
		margin-left: 10vw;
	}

} */









*,
*:before,
*:after {
  box-sizing: border-box;
}
/*
html {
  font-size: 40px;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #0f172a;

  font-family: sans-serif;
}*/










/* 
.carousel {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  scroll-behavior: smooth;
}

.carousel:before {
  content: "";
  width: 100%;
  height: 26.7rem;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  pointer-events: none;

  --bg: rgba(180, 180, 180, 0.342);

  background: linear-gradient(
    to right,
    var(--bg),
    transparent 10%,
    transparent 90%,
    var(--bg)
  );
}

.slides {
  width: 42.7rem;

  display: flex;
  gap: 80px;

  padding: 1rem;
  overflow-x: scroll;

  scroll-behavior: smooth;
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: x var(--tw-scroll-snap-strictness);

  color: white;
  text-align: center;
}



@media (max-width: 1000px) {
	.slides{
    width: 90vw;
    height: 50.625vw;
	}
}








.navigation {
  gap: 26.6px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.navigation a {
  color: #023047;
  text-decoration: none;
}

.slide {
  scroll-snap-stop: always;
  scroll-snap-align: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 3rem;    21.3rem; for images 
  font-size: 2rem;


  object-fit: cover;
  background: #1e293b;

  border: none;
  border-radius: 0.5rem;
}


@media (max-width: 1000px) {
	.slide{
    width: 100%;
    height: 100%;
	}
}





.slides::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: rgb(192, 192, 192);
}

.slides::-webkit-scrollbar {
  height: 6px;
}

.slides::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: #475569;
}

.slides::-webkit-scrollbar-thumb:hover {
  background-color: #657791;
}

.slides::-webkit-scrollbar-thumb:active {
  background-color: #38485e;
}



#slide-1 {
    content:url("../images/thumb1.jpg");
}

#slide-2 {
    content:url("../images/thumb2.jpg");
}

#slide-3 {
    content:url("../images/thumb3.jpg");
}

 */











.button-container {

  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startnow {
  background-color: #4CAF50;
}
.contact {
  background-color: #fb5607;
}

.buttonhome {
  z-index: 1;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  border-width: 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  font-size: 20px;
  transition: opacity 0.3s;
  margin: 1rem;
}
.buttonhome:hover {
    opacity: 0.7;
    cursor: pointer;
}
.popup {
  position: absolute;
  border-radius: 5px;
  border: 3px solid #7aa7c7;
  padding: 10px;
  background-color: #e1ecf4;
  transition: right 1s;
  z-index: 1;
}
.popup p {
  margin: 0px;
  font-size: 20px;
}
.popup-thanks {
  bottom: 20px;
  right: -120px;
}
.popup-comeback {
  top: 20px;
  right: -165px;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
.popup-view {
  right: 20px !important;
}